<form [formGroup]="formGroupLogin" (ngSubmit)="login()" class=" bg-white drop-shadow-md p-12 rounded">
  <div class="w-80" >
    <div *ngIf="errMsg" class="bg-red-100 text-red-500 p-2 flex items-center rounded mb-2">
      <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M19 10h1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V11a1 1 0 0 1 1-1h1V9a7 7 0 1 1 14 0v1zM5 12v8h14v-8H5zm6 2h2v4h-2v-4zm6-4V9A5 5 0 0 0 7 9v1h10z" fill="rgba(255,78,78,1)"/></svg>{{errMsg}}

    </div>
  <span class=" text-base">Welcome back</span>
  <h1 class=" text-3xl font-bold mb-3">Login to your account</h1>
  <div class="flex flex-col">
    <label for="">Email</label>
    <input [ngClass]="email.invalid && (email.dirty || email.touched) ? 'border outline-none mt-3 mb-2 py-3 pl-3 border-red-500 bg-gray-50 rounded-md' : 'border outline-none mt-3 mb-4 py-3 pl-3 border-neutral-200 bg-gray-50 rounded-md'"
    type="email" formControlName="email" placeholder="John.snow@gmail.com">
    <div *ngIf="email.invalid && (email.dirty || email.touched) " class="text-red-500">
      <span *ngIf="email.errors.required">email required</span>
      <span *ngIf="email.errors.pattern">email incorrect</span>
    </div>
  </div>
  <div class="flex flex-col">
    <label for="">Password</label>
    <input
    [ngClass]="password.invalid && (password.dirty || password.touched) ? 'border outline-none mt-3 mb-2 py-3 pl-3 border-red-500 bg-gray-50 rounded-md' : 'border outline-none mt-3 mb-4 py-3 pl-3 border-neutral-200 bg-gray-50 rounded-md'"

    type="password" formControlName="password" placeholder="*********">
    <div *ngIf="password.invalid && (password.dirty || password.touched) " class="text-red-500">
      <span *ngIf="password.errors.required || password.errors.onlyContainSpace">password required</span>
      <span *ngIf="password.errors.minlength">password min 4 char</span>
    </div>
  </div>
  <div class="flex justify-between my-2">
    <!-- <label for="" class="flex items-center">
      <input type="checkbox"
          class=" rounded border-gray-300 text-blue-600 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50"/>
      <span class="ml-2 text-sm text-gray-600">Remember me</span>
    </label> -->
    <!-- <a routerLink="" class="text-sm font-sans font-medium text-mainbleu underline">
      Forgot password?
    </a> -->
  </div>
  <div>
    <button
    class="text-center w-full py-3 bg-mainbleu hover:bg-blue-700 rounded-md text-white" type="submit">
      Login now
    </button>
  </div>
  <div class="mt-3">i don have account <span routerLink="/signup" class="text-mainbleu cursor-pointer hover:underline hover:text-blue-700">sign up</span></div>
</div>
</form>
