<div class="flex font-poppins bg-mainbg">
  <app-side-bar></app-side-bar>
  <div class="w-full">
    <app-nav-bar class="">
      <ng-container>Dashboard</ng-container>
    </app-nav-bar>
    <div class="grid grid-cols-9 gap-10 container mx-auto">
      <div class="col-span-4 flex flex-col justify-between">
        <app-chart my-id="chart1" type="bar"></app-chart>
      <app-chart my-id="chart3" type="line"></app-chart>
      </div>
      <div class="col-span-5">
        <app-chart class="" my-id="chart2" type="pie"></app-chart>
      </div>


    </div>

  </div>
</div>
